<section class="site-content">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="sidebar sidebar-sticky affix-top scroll-to hidden-xs hidden-sm">
          <ul class="nav nav-pills nav-stacked">
            <li> <a href="/stempath">STEM Path to the MBA</a></li>
            <li> <a href="/createpath">CREATE Path to the MBA</a></li>
          </ul>
        </div> <!-- .sidebar -->
      </div> <!-- .col-md-3 -->

      <div class="col-md-9">
        <h2 style="text-align:center;">STEM PATH TO THE MBA APPLICATION</h2>

        <%= render 'form' %>

      </div>
    </div>
  </div>
</section>