<meta http-equiv="refresh" content="5; url=https://culverhouse.ua.edu/graduate-programs/mba" />
<section class="site-content">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="sidebar sidebar-sticky affix-top scroll-to hidden-xs hidden-sm">
          <ul class="nav nav-pills nav-stacked">
            <li> <a href="/graduate-programs/stemmba">STEM Path to the MBA</a></li>
            <li> <a href="/graduate-programs/createmba">CREATE Path to the MBA</a></li>
          </ul>
        </div> <!-- .sidebar -->
      </div> <!-- .col-md-3 -->

      <div class="col-md-9">
        <h2 style="text-align:center;">Thanks!</h2>

        <p>Your information has been received.</p>

      </div>
    </div>
  </div>
</section>
