<div class="header-top header-light">

		<div class="sticky-header-container">
			<div id="sticky-header" class="header-main header-primary navbar mega-menu" data-spy="affix" data-offset-top="50">
				<div class="container">
					<div class="navbar-container">
						<div class="navbar-header">
              <a class="navbar-brand ua-logo ua-logo-college-cba" href="/" title="The University of Alabama" rel="home">
                <img class="ua-square-logo pull-left img-responsive" src="/assets/ua-square-logo.png" alt="The University of Alabama" height="65" width="65">
                <span class="sr-only">The University of Alabama</span>
              </a>

							<a href="#" class="btn btn-default nav-toggle visible-xs visible-sm">
								<span class="sr-only">Toggle navigation</span>
		                        <i class="fa fa-bars"></i>
              </a>
						</div> <!-- .navbar-header -->

						<nav class="navbar-right">
              <%= render partial: 'layouts/stacked/originalnavlinks'  %>
            </nav>
					</div> <!-- .navbar-container -->
				</div> <!-- .container -->
			</div> <!-- .header-main -->
		</div> <!-- .sticky-header-container -->