<section class="site-content">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="sidebar sidebar-sticky affix-top scroll-to hidden-xs hidden-sm">
          <ul class="nav nav-pills nav-stacked">
            <li> <a href="/businessplan">The Annual Edward K. Aldag, Jr. Business Plan Competition</a></li>
          </ul>
        </div> <!-- .sidebar -->
      </div> <!-- .col-md-3 -->

      <div class="col-md-9">
        <h2 style="text-align:center;">Registration Timeline</h2>
        <span style="font-size:20px;margin-bottom:20px;">Access additional information and guidelines <a href="/uploads/ckeditor/attachments/88/Aldag_2017_Guidelines_2.7.2017.pdf" target="_blank">here.</a></span>


        <ul class="timeline timeline-center">
          <li class="timeline-year">
            <span>2017</span>
          </li> <!-- .timeline-year -->

          <li class="timeline-event">
            <div class="timeline-event-title">
              <h3><span style="color: #900;">Step One</span> - Complete the Intent to Participate Form</h3>
              <time datetime="2017-3-10">Mar 10, 2017</time>
            </div> <!-- .timeline-event-title -->

            <div class="timeline-event-content">
              <p>
                <a class="btn btn-crimson btn-flat btn-lg" href="https://culverhouse.ua.edu/businessplan/registration" role="button" style="margin:10px;">Intent to Participate Form</a>
              </p>
              </div> <!-- .timeline-event-content -->
          </li> <!-- .timeline-event -->

          <li class="timeline-event timeline-event-right">
            <div class="timeline-event-title">
              <h3>Step Two - Complete the Business Summary Form</h3>
              <time datetime="2017-03-10">Mar 10, 2017</time>
            </div> <!-- .timeline-event-title -->

            <div class="timeline-event-content">
              <p>
                <a class="btn btn-light btn-flat btn-lg" href="https://culverhouse.ua.edu/businessplan/business_summary" role="button" style="margin:10px;">Business Summary Form</a>
              </p>

            </div> <!-- .timeline-event-content -->
          </li> <!-- .timeline-event-right -->

          <li class="timeline-event">
            <div class="timeline-event-title">
              <h3>Step Three - Submit Draft Power Point Presentation</h3>
              <time datetime="2017-03-21">Mar 21, 2017</time>
            </div> <!-- .timeline-event-title -->

            <div class="timeline-event-content">
              <p>
                <a class="btn btn-light btn-flat btn-lg" href="https://culverhouse.ua.edu/businessplan/upload_presentation" role="button" style="margin:10px;">Submit Draft Power Point Presentation</a>
              </p>
            </div> <!-- .timeline-event-content -->
          </li> <!-- .timeline-event -->

          <li class="timeline-event timeline-event-right">
            <div class="timeline-event-title">
              <h3>Step Four - Final Presentations Due</h3>
              <time datetime="2017-03-28">Mar 28, 2017</time>
              <p>
                <a class="btn btn-light btn-flat btn-lg" href="https://culverhouse.ua.edu/businessplan/upload_final_presentation" role="button" style="margin:10px;">Submit Final Power Point Presentation</a>
              </p>
            </div> <!-- .timeline-event-title -->

            <div class="timeline-event-content">

              <div style="width:100%;height:170px;"><img alt="" class="img-responsive" src="/uploads/ckeditor/pictures/70/content_aldag_balloons.jpg" style="width:50%;height:auto;float:left;"><img alt="" class="img-responsive" src="/uploads/ckeditor/pictures/86/content_promo_right.jpg" style="width: 50%; float: left;"></div>

            </div> <!-- .timeline-event-content -->
          </li> <!-- .timeline-event-right -->

          <li class="timeline-event">
            <div class="timeline-event-title">
              <h3>Competition Begins!</h3>
              <time datetime="2017-03-30">Mar 30, 2017</time>
            </div> <!-- .timeline-event-title -->

            <div class="timeline-event-content">
              <p>
                7:30am - Start with welcome meeting.
              </p>
            </div> <!-- .timeline-event-content -->
          </li> <!-- .timeline-event-right -->
        </ul>
        
      </div>
    </div>
  </div>
</section>