<div class="breadcrumb-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <h1 class="breadcrumb-page-title">Concierge Form</h1>
      </div> <!-- .col-md-6 -->
      <div class="col-md-6 col-sm-6 col-xs-12">
        <ol class="breadcrumb">
          <li><%= link_to 'Home', root_path %></li>
          <li>Concierge</li>
        </ol>
      </div> <!-- .col-md-6 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</div>

<section class="site-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        Share Employment Opportunities with Us.

        <%= render 'conciergeform' %>
      </div>
      <div class="col-md-6">
        <img alt="Manderson" height="612" src="/uploads/ckeditor/pictures/55/content_Manderson_MBA_Class_of_2016_Placement_Poster.jpg" style="float: right; margin: 10px;" width="435" />
      </div>

    </div> <!-- .row -->
  </div> <!-- .container -->
</section>