<section class="site-section-top">
  <div class="bg-img" style="background-image: url('<%= random_background_photo %>');background-position: 0px 0px;">
    <div class="container site-content">
      <div class="site-heading-bg-primary">
        <h1>Corporate Partner Registration</h1>
      </div> <!-- .site-heading-bg -->
    </div> <!-- .container -->
  </div> <!-- .site-section-bg -->
</section>

<section class="site-content">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= render 'sidebar_navigation' %>
      </div> <!-- .col-md-3 -->
      <div class="col-md-9">
        <div class="col-md-9">
          <h3>Complete the form below to register as a corporate partner.</h3>
          <%= render 'signupform' %>
          <p>You will receive an email with access details once your account is approved.</p>
        </div>
        <div class="col-md-3">

        </div>
      </div>
    </div> <!-- .row -->
  </div> <!-- .container -->
</section>
