<section class="site-section-top">
  <div class="bg-img" style="background-image: url('<%= random_background_photo %>');background-position: 0px 0px;">
    <div class="container site-content">
      <div class="site-heading-bg-primary">
        <h1>Corporate Partners</h1>
      </div> <!-- .site-heading-bg -->
    </div> <!-- .container -->
  </div> <!-- .site-section-bg -->
</section>

<section class="site-content">
  <div class="container">
    <div class="row">

    </div>
    <div class="row">

    </div>
    <div class="row">



    </div> <!-- .row -->
  </div> <!-- .container -->
</section>
