<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>A Sponsorship request has been processed.</h1>
<p>
  <%= "#{@aldag_sponsor.firstname}" "#{@aldag_sponsor.lastname}" %> has submitted a sponsorship request for the 2017 Edward K. Aldag, Jr. Business Plan Competition.<br>
</p>
<p>
  Please <a href="https://culverhouse-user.culverhouse.ua.edu/aldag_sponsors/index" target="_blank"> click here </a> to view the details.
</p>
<p>Thanks,</p>
<p>The Culverhouse College of Commerce</p>
</body>
</html>