<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>A draft presentation has been uploaded.</h1>
<p>
  <%= "#{@preso.pname}" %> has submitted a draft presentation for the 2017 Edward K. Aldag, Jr. Business Plan Competition.<br>
</p>
<p>
  Please <a href="https://culverhouse-user.culverhouse.ua.edu/" target="_blank"> click here </a> to view the details.
</p>
<p>Thanks,</p>
<p>The Culverhouse College of Commerce</p>
</body>
</html>