.profile-thumb {
  display: block;
  padding: 4px;
  margin: 10px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}

.box-img {
  padding-top: 10px !important;
  position: relative;
}

.box-img .box-body {
  padding: 5px !important;
}


.divider-light {
  width: 100%;
  margin: 5px auto !important;
  position: relative;
  height: 1px;
}


.profile_pic {
  display:block;
  margin:auto;
  display: block;
  padding: 4px;
  margin-bottom: 10px !important;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}